In [58]:
# Importing the neccessary libraries..
import numpy as np
import pandas as pd

# Bringing the data on deck..
data_one = pd.read_csv('amazon_cells_labelled.txt', delimiter='\t', header=None, names=['Reviews','Sentiment',2,3,4,5])  #Amazon data..
data_two = pd.read_csv('imdb_labelled.txt', delimiter='\t', header=None, names=['Reviews','Sentiment',2,3,4,5])  #imdb data..
data_three = pd.read_csv('yelp_labelled.txt', delimiter='\t', header=None, names=['Reviews','Sentiment',2,3,4,5])  #yelp data..

In [59]:
# Familiarizing with the data..
data_one.drop([2,3,4,5], axis=1, inplace=True)
data_one.head()

                                             Reviews  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [60]:
# Familiarizing with the data..
data_two.drop([2,3,4,5], axis=1, inplace=True)
data_two.head()

                                             Reviews  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [61]:
# Familiarizing with the data..
data_three.drop([2,3,4,5], axis=1, inplace=True)
data_three.head()

                                             Reviews  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [63]:
# Merging datasets..
data_all = pd.concat([data_one,data_two,data_three])
data_all

                                               Reviews  Sentiment
0    So there is no way for me to plug it in here i...          0
1                          Good case, Excellent value.          1
2                               Great for the jawbone.          1
3    Tied to charger for conversations lasting more...          0
4                                    The mic is great.          1
..                                                 ...        ...
995  I think food should have flavor and texture an...          0
996                           Appetite instantly gone.          0
997  Overall I was not impressed and would not go b...          0
998  The whole experience was underwhelming, and I ...          0
999  Then, as if I hadn't wasted enough of my life ...          0

[2748 rows x 2 columns]

In [67]:
#Segmenting Data..
reviews = data_all.Reviews.to_numpy()
sentiments = data_all.Sentiment.to_numpy()

In [68]:
reviews

array(['So there is no way for me to plug it in here in the US unless I go by a converter.',
       'Good case, Excellent value.', 'Great for the jawbone.', ...,
       'Overall I was not impressed and would not go back.',
       "The whole experience was underwhelming, and I think we'll just go to Ninja Sushi next time.",
       "Then, as if I hadn't wasted enough of my life there, they poured salt in the wound by drawing out the time it took to bring the check."],
      dtype=object)

In [69]:
sentiments

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [93]:
# MACHINE LEARNING begins..
#Importing the neccessary libraries..
import re
from nltk.corpus import stopwords
import unidecode as unc

In [102]:
#Test Case..
print('Test Case: ',reviews[1])
tc = unc.unidecode(reviews[1])
tc = re.sub('[^a-zA-z]', ' ', reviews[1])  #Remove punctuation..
print('Test Output: ',tc.lower())

Test Case:  Good case, Excellent value.
Test Output:  good case  excellent value

In [121]:
#Implementing the test on the large data..
new_reviews = []
#Removing Punctuation ans splitting..
for all in reviews:
    tc = unc.unidecode(all)
    tc = re.sub('[^a-zA-z]', ' ', tc)
    tc = tc.lower().split()
    
    new_set = []
    #Remmoving StopWords..
    for all in tc:
        if not all in stopwords.words('english'):
            new_set.append(all)
    new_reviews.append(new_set)

In [130]:
len(new_reviews)

2748

In [133]:
#Generating most frequent words..
from collections import Counter

freq = Counter()
for those in new_reviews:
    for all in those:
        freq[all] += 1
        
top3k = freq.most_common(3000)

In [136]:
#Grouping data..
ids = {}
idx = 3000

for guys in top3k:
    ids[guys[0]] = idx
    idx -= 1
    
for keys in freq.keys():
    if not keys in ids:
        ids[keys] = 1

In [138]:
new_data = []

for we in new_reviews:
    set_m = []
    for they in we:
        set_m.append(ids[they])
    new_data.append(set_m)

In [140]:
#Building the model..
#Importing the necessary libraries..

from keras.preprocessing.sequence import pad_sequences
from kera.layers import *
from keras.model import Model

In [ ]:
data = pad_sequences(new_data, maxlen=100, padding='post')

genome = Input(shape=(None,100))   #Input node..
gool = Embedding(input_dim=3001, output_dim=32)(genome)
shape = Reshape((100,32))(gool)
lstm = LSTM(100)(shape)
drp = Dropout(0.2)(lstm)
zenome = Dense(1, activation='sigmoid')(drp)  #Output node..

sentimenter = Model(genome,zenome)  #Prediction model..
sentimenter.compile('Adam', loss='binary_crossentropy', metrics=['accuracy'])

data = data.reshape(len(data), 1, 100)
sentimenter.fit(data, sentiments, epochs=1)